.listView{
  margin-top: 100px;
  text-align:center;

}

.listViewTitle{

  color: #3ca7e0;
}
.sortBy {
  display: inline-block;

}
.orderBy {
  display: inline-block;
}
.nutrientLabel {
  text-align: center;
}
.selectBorder{
  border-bottom: 5px solid #42f4cb;

}
.foodItem{
  padding: 20px;
}
.row3 {
  justify-items: center;
}
.checkboxes{
  display: inline-block;
  padding: 20px;
}
.nutrientList {
  padding-top: 20px;
  text-align: center;
}
.unselect{
  display: inline-block;
  padding: 20px;
}
.FoodList{
  padding: 20px;
}
.searchTitle {
  text-align: center;
  padding-top: 20px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 10px ;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.parent{

  display: flex ;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
}
input[type=submit] {
  width: 20%;
  background-color: #42f4cb;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nutrientChoice {
  display: flex;
  justify-content: center;
}


input[type=submit]:hover {
  background-color: #3ac48b;
}
.centeredEmpty{
  text-align: center;
}