.searchFoods{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.brandedContainer{
  display: inline-block;
  padding-right: 20px;
}

.overall {
  display: flex;
justify-content: center;}

.saveButton{
  padding-top: 20px;
}

.Quantity{
  padding-top: 5px;
}

.container{
  padding-top: 20px;

}

.parent{
  display: flex ;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
}

.centeredEmpty{
  text-align: center;
}